.feedback {
  position: relative;
  margin-bottom: -1px;
  background-color: #000000;
}

.feedback .feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 68px;
  padding-bottom: 22px;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.feedback__input {
  width: 100%;
  padding: 16px 31px 17px;
  border: 1px solid transparent;
  letter-spacing: -0.7px;
  color: #FFFFFF;
}

.feedback__input::-webkit-input-placeholder {
  font-family: "Vollkorn", serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

.feedback__input:-ms-input-placeholder {
  font-family: "Vollkorn", serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

.feedback__input::-ms-input-placeholder {
  font-family: "Vollkorn", serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

.feedback__input::placeholder {
  font-family: "Vollkorn", serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

.feedback__input:nth-child(2n + 1) {
  background-color: #2e2e2e;
  border-color: #2e2e2e;
}

.feedback__input:nth-child(2n) {
  background-color: #333333;
  border-color: #333333;
}

.feedback__input--describe {
  margin-bottom: 22px;
  padding-top: 18px;
  resize: none;
  min-height: 127px;
}

.feedback__send-message {
  color: #8BCAC3;
  padding: 15px 60px;
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-size: 16px;
  letter-spacing: -0.7px;
  border: 1px solid #7EC4BD;
  border-bottom: 2px solid #7EC4BD;
  cursor: pointer;
}
