@import "variables.scss";

.header {
	&__container {
		display: flex;
		justify-content: space-between;
		padding-top: 18px;
		padding-bottom: 18px;
	}
}

.burger {
	display: flex;
	align-items: center;
	&__icon {
		display: none;
	}
}
.nav {
	padding-bottom: 5px;
	&__items {
		display: flex;
	}
	&__item {
		text-transform: uppercase;
		font-size: 12px;
		line-height: 20px;
	}
	&__item:not(:last-child) {
		margin-right: 36px;
	}
}
