$Montserrat: 'Montserrat', serif;
$Vollkorn: 'Vollkorn', serif;
$mainDark: #404040;
$white: #FFFFFF;
$accentYellow: #FEFEC9;
$mainBg: #F5F5F5;
$grey: #333333;
$dark21: #212121;
$black: #000000;
$grey2e: #2e2e2e;
$grey33: #333333;
$green7e: #7EC4BD;
$green8b: #8BCAC3;
$blue4b: #4b9ec0;


